@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Cambio" method="post">
    <label>Envías:</label>
    <select name="envias">
        <option value="BRL">Real Brasileño</option>
    </select>
    <input type="number" name="cantidadEnvias" required />
    <br>
    

    <label>Recibes:</label>
    <select name="recibes">
        <option value="PEN">Soles</option>
    </select>
    
    <button type="submit">Hacer Cambio</button>
</form>